! /etc/keepalived/keepalived.conf
! Configuration File for keepalived
global_defs {
    router_id LVS_DEVEL
}
vrrp_script check_apiserver {
  script "/etc/keepalived/check_apiserver.sh"
  interval 3
  weight -2
  fall 10
  rise 2
}

vrrp_instance VI_1 {
    state  {{ k8s_host_attrs.role }}
    interface {{interface_device_name}}
    virtual_router_id  {{k8s_host_attrs.router_id}}
    priority {{k8s_host_attrs.priority}}
    authentication {
        auth_type PASS
        auth_pass {{auth_pass}}
    }
    virtual_ipaddress {
        {{vip_address}}
    }
    track_script {
        check_apiserver
    }
}
